.NavBar{
    background-color: #333;
    position: fixed;
    width:100%;
    top:0;
}
.links{  
    text-align: center;
    list-style-type: none; 
    margin: 0;
    padding: 0;
    overflow: hidden;
    color:white;
    font-size: 20px;
}

.nav{
    float:left;
    display:block;
    padding: 35px;
}
.btn-signup {
    border: 2px solid whitesmoke;
    float:left;
    display:block;
    margin-top:10px;
    margin-left:70px;
    padding: 20px;
}